html, body {
  height: 100%;
}

body {
  background-image: url("/img/img_bg01.jpg");
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}