@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RubikMonoOne";
  src: url("./assets/webfonts/RubikMonoOne-Regular.ttf");
}

@layer utilities {
  .transition-smooth {
    transition: 200ms ease-in-out;
  }
}